*,*::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
    min min-height: 100%;
    
}

body{
    min-height: 100vh;
    
}

.container{
    width: min(90%, 1140px);
    margin: 3rem auto;
  
}

.comment-container{
    position: relative;
    display: none;
}

.comment-container.opened {
    display: block;
}

.comment-container::before{
    content: "";
    background-color: rgb(163, 159, 159);
    position: absolute;
    min-height: 100%;
    width: 1px;
    left: -10px;
}

.comment-container:not(first-child){
    margin-left: 3rem;
    margin-top: 1rem;
}

.comment-card{
    padding: 20px;
    background-color: rgb(206, 213, 178);
    border: 1px solid black;
    border-radius: 10px;
    min-width: 100%;
    box-shadow: 1 1 50px rgba(0, 0, 0, 0.1);
}

.comment-card h3, .comment-card p{
    margin-bottom: 1rem;
}

.comment-card-footer {
    display: flex;
    font-size: .85rem;
    opacity: .6;
    justify-content: flex-end;
    align-items: center;
    
}

.show-replies{
    cursor: pointer;
}